<div HTMLINCLUDE="progressdesignid" class="fullwidth fullheight displaynone">
  <button class="sidenavid1">to basic designs</button>
  <button class="sidenavid3">to drawer menu design</button>
  <div class="step-indicatordes1">
    <div class="step active">
      <span class="step-inner"></span>
      <span class="step-label"> Step 1</span>
    </div>
    <div class="connector connectoractive"></div>
    <div class="step">
      <span class="step-inner"></span>
      <span class="step-label"> Step 2</span>
    </div>
    <div class="connector"></div>
    <div class="step">
      <span class="step-inner"></span>
      <span class="step-label"> Step 3</span>
    </div>
    <div class="connector"></div>
    <div class="step">
      <span class="step-inner"></span>
      <span class="step-label"> Step 4</span>
    </div>
  </div>
</div>
