<aside class="fullheight sidenavbar1">
  <div class="flexbox" style="height: 200px">
    <img src="img/samplelogo.png" style="width: 140px; height: auto" />
  </div>

  <label class="flexbox flexdirec-row">
    <input
      id="sidenavid1"
      class="sidenavid1 sidenavbtn1"
      type="radio"
      checked="checked"
      name="sidenav1" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="color-palette-outline"></ion-icon>
      <p>Basic Designs</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input
      id="sidenavid2"
      class="sidenavid2 sidenavbtn1"
      type="radio"
      name="sidenav1" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="barcode-outline"></ion-icon>
      <p>Progress Design</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input
      id="sidenavid3"
      class="sidenavid3 sidenavbtn1"
      type="radio"
      name="sidenav1" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="compass-outline"></ion-icon>
      <p>Drawer Menu</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input
      id="sidenavid4"
      class="sidenavid4 sidenavbtn1"
      type="radio"
      name="sidenav1" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="swap-vertical-outline"></ion-icon>
      <p>Range Slider</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input
      id="sidenavid5"
      class="sidenavid5 sidenavbtn1"
      type="radio"
      name="sidenav1" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <p>Infinite Scroll Table</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input type="radio" name="sidenav1" class="sidenavbtn1" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <p>Unlock</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input type="radio" name="sidenav1" class="sidenavbtn1" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <p>Unlock</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input type="radio" name="sidenav1" class="sidenavbtn1" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <p>Unlock</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input type="radio" name="sidenav1" class="sidenavbtn1" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <p>Unlock</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input type="radio" name="sidenav1" class="sidenavbtn1" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <p>Unlock</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input type="radio" name="sidenav1" class="sidenavbtn1" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <p>Unlock</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input type="radio" name="sidenav1" class="sidenavbtn1" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <p>Unlock</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input type="radio" name="sidenav1" class="sidenavbtn1" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <p>Unlock</p>
    </div>
  </label>
</aside>
