<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Dashboard</title>
<link rel="stylesheet" href="css/style.css" />
<script nonce="<%= nonce %>" src="/socket.io/socket.io.js" defer></script>
<script nonce="<%= nonce %>" src="js/dashboard.js" defer></script>
<script
  nonce="<%= nonce %>"
  src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
