<form id="loginForm">
  <h2>Login Page</h2>
  <fieldset>
    <section>
      <label for="username">Username:</label>
      <input type="text" id="usernametext" class="inputtextdes1" />
    </section>
    <section>
      <label for="password">Password:</label>
      <input type="password" id="passwordtext" class="inputtextdes1" />
    </section>
    <section>
      <button class="btndes1">Login</button>
    </section>
  </fieldset>
</form>
