.sidenavbar1 {
  background-color: #d2ecec;
  width: 350px;
  overflow-y: auto;
  p {
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
    color: #5e5e5e;
    transition: 0.8s;
    cursor: pointer;
  }
  ion-icon {
    font-size: 25px;
    color: #5e5e5e;
    transition: 0.8s;
    cursor: pointer;
  }
  .sidenavdes1 {
    cursor: pointer;
    text-align: left;
    padding: 15px;
    transition: 0.8s;
    cursor: pointer;
    margin-right: 1px;
    &:hover {
      cursor: pointer;
      text-align: left;
      padding: 15px;
      transition: 0.8s;
      cursor: pointer;
      background-color: #b3ba36;
      border-left: 8px solid #534f5c;
      p {
        width: 100%;
        padding-left: 10px;
        font-size: 16px;
        color: #ffffff;
        transition: 0.8s;
        cursor: pointer;
      }
      ion-icon {
        font-size: 25px;
        color: #ffffff;
        transition: 0.8s;
        cursor: pointer;
      }
    }
  }
  .sidenavbtn1 {
    display: none;
    &:checked + .sidenavdes1 {
      background-color: #b3ba36;
      border-left: 8px solid #534f5c;
      transition: 0.8s;
      cursor: pointer;
      margin-right: 1px;
      p {
        color: #ffffff;
        transition: 0.8s;
        cursor: pointer;
      }
      ion-icon {
        color: #ffffff;
        transition: 0.8s;
        cursor: pointer;
      }
    }
  }
}
