<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Boilerplate</title>
<link rel="stylesheet" href="css/style.css" />
<script
  nonce="<%= nonce %>"
  src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

<script
  nonce="<%= nonce %>"
  type="module"
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script
  nonce="<%= nonce %>"
  type="nomodule"
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
