<main>
  <h1>Boilerplate Template</h1>
  <template> hidden html elements here </template>
  <div style="width: 20%">
    <button class="btndes1">Button1</button>
  </div>
  <br />
  <div style="width: 20%">
    <button class="btndes2">Button2</button>
  </div>
  <!-- <script nonce="<%= nonce %>">
    alert("JS test");
  </script> -->
</main>
