<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Boilerplate</title>
<link rel="stylesheet" href="css/style.css" />
<script
  nonce="<%= nonce %>"
  src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
