/* //////////// input design //////////// */
.inputtextdes1 {
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: rgb(211, 211, 211);
  padding: 6px 10px;
}
/* /////////////////////////////////// */
